<!DOCTYPE html>
<html lang="en" th:replace="~{template/layout :: layout(~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<body>
<section class="container">
    <h1 class="text-center">로그인</h1>
    <form action="/auth/loginProc" method="POST" style="margin-left: 30%; margin-right: 30%; margin-bottom: 100px"
          th:object="${user}">
        <fieldset>
            <div class="form-group">
                <label for="username" class="form-label mt-2">아이디</label>
                <input type="text" class="form-control" id="username"
                       th:errorclass="form-err" placeholder="ID">
                <small class="form-text form-err" >Err1</small>
            </div>
            <div class="form-group">
                <label for="password" class="form-label mt-2">비밀번호</label>
                <input type="password" class="form-control" id="password"
                       th:field="*{password}" th:errorclass="form-err" placeholder="PASSWORD">
                <small th:errors="*{password}" class="form-text form-err">Err2</small>
            </div>
            <div th:if="${errorMessage}" class="alert alert-dismissible alert-secondary"
                 style="margin-top: 20px">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
               <p th:text="${errorMessage}">Error Message</p>
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top: 20px">Submit</button>
        </fieldset>
    </form>
</section>
</body>
</html>