<!DOCTYPE html>
<html lang="en" th:replace="~{template/layout :: layout(~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<body>
<section class="container">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <input type="hidden" id="id" th:value="${post.id}">
    <div class="text-center banner">
        <a href="/"><img src="/img/logo.jpeg" class="banner-img"></a>
    </div>
    <div class="card border-primary mb-3" style="margin-top: 6%; margin-bottom: 100px">
        <div class="card-header">
            <div style="display: inline">작성자 : <span th:text="${post.writer}"></span></div>
            <div style="display: inline; float: right">작성시간 : <span th:text="${post.createdAt}"></span></div>
        </div>
        <div class="card-body">
            <div th:switch="${post.position.name()}" style="margin-top: 20px; margin-bottom: 50px">
                <img th:case="TOP" src="/img/top.png" class="position-img-post-read">
                <img th:case="JUG" src="/img/jug.png" class="position-img-post-read">
                <img th:case="MID" src="/img/mid.png" class="position-img-post-read">
                <img th:case="ADC" src="/img/adc.png" class="position-img-post-read">
                <img th:case="SUP" src="/img/sup.png" class="position-img-post-read">
                <h4 th:text="${post.title}"class="card-title" style="display: inline; line-height: 50px"></h4>
                <button class="btn btn-primary" th:if="${user?.nickname == post.writer}"
                        th:onclick="'location.href=\''+ @{/posts/{id}/edit(id=${post.id})} + '\''"
                   style="margin-left: 30px; margin-right: 20px;">수정</button>
                <button class="btn btn-warning" id="btn-delete" th:if="${user?.nickname == post.writer}">
                    삭제</button>
            </div>

            <p th:text="${post.content}" class="card-text"></p>
            <p style="margin-top: 30px; color: cadetblue">Comments</p>
            <hr style="margin-bottom: 20px">
            <div th:each="comment : ${post.comments}" class="card text-white bg-primary mb-3" style="max-width: 30rem; padding-bottom: 20px">
                <div class="card-header">
                    <span th:text="|작성자 : ${comment.nickname} |"></span>
                    <span th:text="${comment.createdDate}" style="font-size: 8px"></span>
                </div>
                <div class="card-body">
                    <p th:text="${comment.content}" class="card-text"></p>
                </div>
                <div>
                    <button class="btn btn-primary" th:if="${user?.nickname == comment.nickname}"
                            th:onclick="'location.href=\''+ @{/posts/{id}/edit(id=${post.id})} + '\''"
                            style="margin-left: 30px; margin-right: 20px;">수정</button>
                    <button class="btn btn-warning" id="btn-comment-delete" th:if="${user?.nickname == comment.nickname}">
                        삭제</button>
                </div>
            </div>
            <hr style="margin-bottom: 20px">
            <div class="guest-div d-inline" th:if="${user == null}">
                <span class="welcome"><a href="/auth/login">로그인</a> 후 이용해주세요.</span>
                <button onclick="location.href='/auth/login';" type="button" class="btn btn-info btn-login">로그인</button>
                <button onclick="location.href='/auth/join';" type="button" class="btn btn-primary btn-join">회원가입</button>
            </div>
            <form th:if="${user != null}">
                <fieldset>
                    <div class="form-group">
                        <label for="content" class="form-label mt-4">댓글 작성</label>
                        <textarea class="form-control" id="content" name="content" rows="3"></textarea>
                    </div>
                    <button type="button" id="btn-comment-save"
                            class="btn btn-primary" style="margin-top: 10px">작성</button>
                </fieldset>
            </form>
        </div>
    </div>
</section>
</body>
</html>