<!DOCTYPE html>
<html lang="en" th:replace="~{template/layout :: layout(~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<body>
  <section class="container">
    <div class="text-center banner">
      <a href="/"><img src="/img/logo.jpeg" class="banner-img"></a>
    </div>

    <div class="search-div">
      <form class="search-form d-flex" action="" method="GET">
        <input type="text" name="pos" th:value="${position}" hidden>
        <input class="form-control me-sm-2" type="text" name="keyword" th:value="${keyword}" placeholder="검색어를 입력하세요.">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">search</button>
      </form>
    </div>

    <!-- welcome user div -->
    <div class="login-div d-inline" th:classappend="${user != null ? _ : 'visually-hidden'}">
      <span class="welcome"><b th:text="${user?.nickname}">Guest</b> 님 반가워요!</span>
      <button onclick="location.href='/auth/logout';" type="button" class="btn btn-danger btn-logout">로그아웃</button>
      <button type="button" class="btn btn-primary btn-setting">정보수정</button>
    </div>

    <div class="guest-div d-inline" th:classappend="${user == null ? _ : 'visually-hidden'}">
      <span class="welcome"><a href="/auth/login">로그인</a> 후 이용해주세요.</span>
      <button onclick="location.href='/auth/login';" type="button" class="btn btn-info btn-login">로그인</button>
      <button onclick="location.href='/auth/join';" type="button" class="btn btn-primary btn-join">회원가입</button>
    </div>
    <!-- /welcome user div -->

    <div class="btn-group category-div" role="group" aria-label="Basic radio toggle button group">
      <input onclick="window.location='/';" id="btn-all" type="radio" class="btn-check" autocomplete="off" th:checked="${position == null}">
      <label class="btn btn-outline-primary" for="btn-all">ALL</label>
      <input onclick="window.location='/?pos=TOP';" id="btn-top" type="radio" class="btn-check" autocomplete="off" th:checked="${position?.name?.equals('TOP')}">
      <label class="btn btn-outline-primary" for="btn-top"><img src="/img/top.png" class="position-img"></label>
      <input onclick="window.location='/?pos=JUG';" id="btn-jug" type="radio" class="btn-check" autocomplete="off" th:checked="${position?.name?.equals('JUG')}">
      <label class="btn btn-outline-primary" for="btn-jug"><img src="/img/jug.png" class="position-img"></label>
      <input onclick="window.location='/?pos=MID';" id="btn-mid" type="radio" class="btn-check" autocomplete="off" th:checked="${position?.name?.equals('MID')}">
      <label class="btn btn-outline-primary" for="btn-mid"><img src="/img/mid.png" class="position-img"></label>
      <input onclick="window.location='/?pos=ADC';" id="btn-adc" type="radio" class="btn-check" autocomplete="off" th:checked="${position?.name?.equals('ADC')}">
      <label class="btn btn-outline-primary" for="btn-adc"><img src="/img/adc.png" class="position-img"></label>
      <input onclick="window.location='/?pos=SUP';" id="btn-sup" type="radio" class="btn-check" autocomplete="off" th:checked="${position?.name?.equals('SUP')}">
      <label class="btn btn-outline-primary" for="btn-sup"><img src="/img/sup.png" class="position-img"></label>
    </div>

    <div id="post-table">
      <!-- table -->
      <table class="table table-hover text-center">
        <thead>
        <tr>
          <th>No</th>
          <th class="th-title">제목</th>
          <th>작성자</th>
          <th>작성시간</th>
          <th>조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}">
          <td th:text="${post.id}">1</td>
          <td class="td-title" th:switch="${post.position.name()}">
            <img th:case="TOP" src="/img/top.png" class="position-img-post">
            <img th:case="JUG" src="/img/jug.png" class="position-img-post">
            <img th:case="MID" src="/img/mid.png" class="position-img-post">
            <img th:case="ADC" src="/img/adc.png" class="position-img-post">
            <img th:case="SUP" src="/img/sup.png" class="position-img-post">
            <a href="#" th:text="${post.title}">글 제목</a>
          </td>
          <td th:text="${post.writer}">작성자</td>
          <td th:text="${post.createdDate}">00:00</td>
          <td th:text="${post.view}">33</td>
        </tr>
        </tbody>
      </table>
      <!-- /table -->

      <button class="btn btn-info btn-write">글 작성</button>

      <!-- Paging -->
      <div class="paging">
        <ul class="pagination">
          <li class="page-item" th:classappend="${currentPage == first ? 'disabled' : _}">
            <a th:href="@{/(pos=${position}, page=${first}, keyword=${keyword})}" class="page-link">«</a>
          </li>
          <li class="page-item" th:classappend="${hasPrev ? _ : 'disabled'}">
            <a th:href="@{/(pos=${position}, page=${(currentBlock - 1) * 5}, keyword=${keyword})}" class="page-link">&lt;</a>
          </li>
          <li th:each="page : ${#numbers.sequence(startPage, endPage)}" class="page-item"
              th:classappend="${currentPage == page ? 'active' : _}">
            <a th:text="${page + 1}" class="page-link" th:href="@{/(pos=${position}, page=${page}, keyword=${keyword})}"></a>
          </li>
          <li class="page-item" th:classappend="${hasNext ? _ : 'disabled'}">
            <a th:href="@{/(pos=${position}, page=${(currentBlock + 1) * 5}, keyword=${keyword})}" class="page-link">&gt;</a>
          </li>
          <li class="page-item" th:classappend="${currentPage == last ? 'disabled' : _}">
            <a th:href="@{/(pos=${position}, page=${last}, keyword=${keyword})}" class="page-link">»</a>
          </li>
        </ul>
      </div>
      <!-- /Paging -->
    </div>
  </section>
</body>
</html>