<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>롤크루트 - lolcruit</title>

  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>

  <div class="container">
    <div class="text-center banner">
      <a href="/"><img src="/img/logo.png" class="banner-img"></a>
    </div>

    <div class="search-div">
      <form class="search-form d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="검색어를 입력하세요.">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">search</button>
      </form>
    </div>

    <!-- welcome user div -->
    <div class="login-div d-inline">
      <span class="welcome"><b>박훈성</b> 님 반가워요!</span>
      <button type="button" class="btn btn-danger btn-logout">로그아웃</button>
      <button type="button" class="btn btn-primary btn-setting">정보수정</button>
    </div>

    <div class="guest-div d-inline visually-hidden">
      <span class="welcome"><a href="/login">로그인</a> 후 이용해주세요.</span>
      <button type="button" class="btn btn-info btn-login">로그인</button>
      <button type="button" class="btn btn-primary btn-join">회원가입</button>
    </div>
    <!-- /welcome user div -->

    <div class="btn-group category-div" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="btnradio" id="btnradio0" autocomplete="off" checked="">
      <label class="btn btn-outline-primary" for="btnradio0">ALL</label>
      <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
      <label class="btn btn-outline-primary" for="btnradio1"><img src="/img/top.png" class="position-img"></label>
      <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
      <label class="btn btn-outline-primary" for="btnradio2"><img src="/img/jug.png" class="position-img"></label>
      <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
      <label class="btn btn-outline-primary" for="btnradio3"><img src="/img/mid.png" class="position-img"></label>
      <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
      <label class="btn btn-outline-primary" for="btnradio4"><img src="/img/adc.png" class="position-img"></label>
      <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off" >
      <label class="btn btn-outline-primary" for="btnradio5"><img src="/img/sup.png" class="position-img"></label>
    </div>

    <!-- table -->
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th>No</th>
          <th class="th-title">제목</th>
          <th>작성자</th>
          <th>작성시간</th>
          <th>조회수</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="post : ${posts}">
          <td th:text="${post.id}">1</td>
          <td class="td-title" th:switch="${post.position.name()}">
            <img th:case="TOP" src="/img/top.png" class="position-img-post">
            <img th:case="JUG" src="/img/jug.png" class="position-img-post">
            <img th:case="MID" src="/img/mid.png" class="position-img-post">
            <img th:case="ADC" src="/img/adc.png" class="position-img-post">
            <img th:case="SUP" src="/img/sup.png" class="position-img-post">
            <a href="#" th:text="${post.title}">글 제목</a>
          </td>
          <td th:text="${post.writer}">작성자</td>
          <td th:text="${post.createdDate}">00:00</td>
          <td th:text="${post.view}">33</td>
        </tr>
      </tbody>
    </table>
    <!-- /table -->

    <button class="btn btn-info btn-write">글 작성</button>

    <!-- Paging -->
  <div class="paging">
    <ul class="pagination">
      <li class="page-item" th:classappend="${currentPage == first ? 'disabled' : _}">
        <a th:href="@{/(page=${first})}" class="page-link">«</a>
      </li>
      <li class="page-item" th:classappend="${hasPrev ? _ : 'disabled'}">
        <a th:href="@{/(page=${(currentBlock - 1) * 5})}" class="page-link">&lt;</a>
      </li>
      <li th:each="page : ${#numbers.sequence(startPage, endPage)}" class="page-item"
          th:classappend="${currentPage == page ? 'active' : _}">
        <a th:text="${page + 1}" class="page-link" th:href="@{/(page=${page})}"></a>
      </li>
      <li class="page-item" th:classappend="${hasNext ? _ : 'disabled'}">
        <a th:href="@{/(page=${(currentBlock + 1) * 5})}" class="page-link">&gt;</a>
      </li>
      <li class="page-item" th:classappend="${currentPage == last ? 'disabled' : _}">
        <a th:href="@{/(page=${last})}" class="page-link">»</a>
      </li>
    </ul>
  </div>
  <!-- /Paging -->
  </div>
  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

<footer id="footer">
  GitHub : <a href="https://github.com/HunSeongPark">HunSeongPark</a><br>
  Tech Blog : <a href="https://hungseong.tistory.com">훙성의 기술 블로그</a>
</footer>
</body>
</html>